
/* ============================================== GENERAL ================================================= */

h1, h2, h3, h4, h5, h6, p{
    font-family: Futura, sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.mobilesize{
    background-color: white;
    border-color: white;
    height: 200px;
}
.container-set{
    height:80px;
}
.container-set > li{
    margin: 15px;
}
.navbar-default{
    background-color: white;
    border-color: white;
    position: fixed;
    width: 100%;
}
.navbar-brand{
    float: left;
    height: 80px;
    padding:0px;
}
.navbar-brand > img{
    height: 100%;
    width:auto;
    display: block;
}
.donatebutton{
    width: 120px;
    height: 50px;
    border-radius: 15px;
    background-color: #f5a623;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
}
.footercolor {
    color: white;
}
footer{
    background-color: #f5a623;
}

#whatwedo h1{
    margin:50px;
    font-size: 48px;
    font-weight: 500;
    color: #4a4a4a;
}

 #whatwedo p{
     font-size: 20px;
     font-weight: 500;
     text-align: center;
     color: #757573;
 }

 #journey{
     background-image: url("../img/main/journey.jpg");
     background-size: cover;
     background-repeat: no-repeat;
 }

 #journey p{
     padding-top: 15px;
     font-size: 24px;
     font-weight: 500;
     color: #ffffff;
     text-shadow: 1px 1px #aaa;
 }
 #journey hr{
     margin-top: 0;
     margin-bottom: 0;
     width: 190px;
     border: solid 1px #ffffff;
     text-shadow: 1px 1px #aaa;
 }
 #journey h1{
     margin-top: 10px;
     padding-bottom: 25px;
     font-size: 64px;
     font-weight: 800;
     font-stretch: condensed;
     color: #ffffff;
     text-shadow: 1px 1px #aaa;
 }

 .whiteBG{
     margin: 150px 25px 150px 25px;
     border-radius: 10px;
     background-color: rgba(255, 255, 255, 0.48);
 }

 .donate{
     width: 168px;
     height: 55px;
     border-radius: 8px;
     background-color: #f5a623;
 }
 #journey a{
     font-size: 24px;
     font-weight: 800;
     font-stretch: condensed;
     color: #ffffff;
 }
 #journey button{
     margin-bottom: 50px;
 }

 .learnMore{
     width: 168px;
     height: 55px;
     border-radius: 8px;
     background-color: #ffffff;
     border: solid 3px #f5a623;
     margin-bottom: 50px;
     margin-top: 50px;
 }
.learnMore a{
    font-family: Calibri, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #f5a623;
}
.vline{
    height: 275px;
    border-left: solid 1px #979797;
}

#emailus{
    background-image: url("../img/main/email.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#emailus p{
    font-size: 24px;
    font-weight: 500;
    color: #4d4c4d;
    padding: 20px;
}

#emailus a{
    font-size: 24px;
    font-weight: 800;
    font-stretch: condensed;
    color: #ffffff;
}
.email{
    width: 168px;
    height: 55px;
    border-radius: 8px;
    background-color: #179e80;
    border: solid 3px #179e80;
    margin: 0 0 20px 0;
}

/* ============================================== CONTACT US ================================================= */

/* IMAGE */
.contactusBG {
    position: relative;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;

    /* Image Settings */
    background-image: url("../img/main/contact-us.jpg");
    min-height: 450px;
}

/* TEXT OVER IMAGE */
.donateBG .caption,
.contactusBG .caption,
.aboutusBG .caption {
    position: absolute;
    left: 0;
    top: 70%;
    width: 100%;
    color: #fff;
    text-align: center;
}

.donateHTML h1,
.contactus h1,
.aboutus h1 {
    font-family: Futura, sans-serif;
    font-size: 55px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
    color: #ffffff;
    letter-spacing: -2px;

    /* Stretch Text Vertically */
    display:inline-block;
    -webkit-transform:scale(1,1.2); /* Safari and Chrome */
    -moz-transform:scale(1,1.2);    /* Firefox */
    -ms-transform:scale(1,1.2);     /* IE 9 */
    -o-transform:scale(1,1.2);      /* Opera */
    transform:scale(1,1.2);         /* W3C */
}

.donateHTML .captionRectangle,
.contactusBG .captionRectangle,
.aboutusBG .captionRectangle {
    width: 118px;
    height: 6px;
    background-color: #ffffff;
    margin: -9px auto 0 auto;
}

/* CONTACT FORM SECTION */

.contactForm .form-group {
    margin: 0 15px 0 15px;
}

.contactForm p {
    text-align: center;
    font-size: 18px;
    color: #757573;
    padding: 53px 0 20px 0;
}

.contactForm input,
.contactForm textarea {
    color: #757573;
    width: 100%;
    height: 50px;
    margin: 15px auto 15px auto;
    float: none;
    font-family: Futura, sans-serif;
    border-radius: 10px;
    border: solid 1px #179e80;

    box-shadow: none;
    -webkit-box-shadow: none;

}

.contactForm textarea {
    height: 100px;
    resize: vertical;
}

.contactForm button {
    margin: 25px 0 40px 0;
    width: 135px;
    height: 50px;
    border-radius: 8px;
    background-color: #179e80;
    border: none;
    font-family: Futura, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 100!important;
}

/* DISABLE BLUE INPUT FOCUS COLOR */
.form-control:focus {
    border-color: #179e80;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* PLACEHOLDER TEXT COLOR */
.contactForm ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #757573;
}
.contactForm ::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #757573;
}
.contactForm ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #757573;
}
.contactForm :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #757573;
}

/* ============================================== ABOUT US ================================================= */

/* IMAGE */
.aboutusBG {
    position: relative;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;

    /* Image Settings */
    background-image: url("../img/main/about-us.jpg");
    min-height: 450px;
}

.ourMission {
    background-color: #F3A536;
    text-align: center;
    padding: 95px 0 110px 0;
}

.ourMission h1 {
    font-size: 43px;
    letter-spacing: normal;
}

.ourMission p {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin: 15px 18%;
}

/* FOUNDER SECTION */

/* On Tablets/Desktop, do this */
@media only screen and (min-width: 768px) {
    .founderTextDiv {
        width: 60%;
    }
    .founderImgDiv {
        width: 40%;
    }
}

.aboutFounder {
    width: 100%;
    padding: 0;
}

.aboutFounder h1 {
    color: #4a4a4a;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 53px;
    padding-top: 14%;
}

.founderTextDiv {
    text-align: center;
}

.founderName {
    color: #179e80;
    padding: 0;
    letter-spacing: -2px;
}

.founderNameRectangle {
    width: 118px;
    height: 6px;
    background-color: #9B9B9B;
    box-shadow: 0 2px 7px #9B9B9B;
    margin: 19px auto 0 auto;
}

.founderText {
    padding: 60px 100px;
    font-weight: 900;
    font-size: 15px;
    color: #757573;
}

/* MORE INFO ICONS */
.moreInfoIcons {
    background-color: #e9e9e9;
    text-align: center;
    width: 100%;
    padding: 60px 0 50px 0;
}

.moreInfoIcons img {
    max-width: 220px;
    padding-top: 40px;
}

.moreInfoIcons p {
    color: #757573;
    padding: 30px 50px;
    font-size: 16px;
    font-weight: 800;
}

/* ============================================== Donate ================================================= */

.donateBG{
    position: relative;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;

    /* Image Settings */
    background-image: url("../img/main/donate.jpg");
    min-height: 500px;
}

.donateText{
    background-color: #F3A536;
    text-align: center;
    padding: 50px 100px 50px 100px;
}

.donateText p{
    font-size: 26px;
    text-align: left;
    color: #ffffff;
}

.donateGreen{
    margin:25px;
    width: 250px;
    height: 75px;
    border-radius: 10px;
    background-color: #179e80;
}

.donateGreen a{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.makeadiffernece h1{
    padding: 25px 0 25px 0;
    font-size: 64px;
    font-weight: 500;
    font-stretch: condensed;
    color: #179e80;
}
.makeadiffernece h2{
    font-size: 64px;
    font-weight: 500;
    font-stretch: condensed;
    color: #179e80;
}
.makeadiffernece p{
    font-size: 18px;
    font-weight: 500;
    color: #4a4a4a;
}
.makeadiffernece img{
    width: 100%;
}
.makeadiffernece .imgPadding{
    padding:0;
}
.positionfix{
    min-height: 400px;
    position: relative;
}
.positionlow{
    position: absolute;
    bottom:0;
}

/* ============================================== DONATE MODAL ================================================= */

.donatemodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.donatemodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    color: #179e80;
    width: 100%;
}

.donatemodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.donatemodal-container input[type=text] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.donatemodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.donatemodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.donatemodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #179e80;
    padding: 17px 0;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.donatemodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #179e80;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.donatemodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    /*text-align: left;*/
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.donate-help {
    font-size: 12px;
}
.donatemodal-container h4 {
}
.closeModal{
    width: 100%;
    text-align: right;
    margin-bottom: -20px;
}